* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
  text-align: center;
}

.exercises {
  list-style-type: none;
}

.exercise-text {
  font-size: 20px;
  font-weight: 600;
}

.block {
  width: 100px;
  height: 100px;
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  height: 60px;
  width: 100px;
}

.hidden {
  visibility: hidden;
}

.blocks {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.input {
  display: block;
  margin: 30px auto;
}

.yellow-block {
  background-color: yellow;
  border: 2px solid black;
}

.red-block {
  background-color: red;
  border: 2px solid black;
  width: 50px;
  height: 50px;
}

.green-block {
  background-color: green;
  border: 2px solid black;
  width: 50px;
  height: 20px;
}

.input-block {
  border: 2px solid black;
  border-radius: 5px;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}

.input-block-title {
  font-size: 16px;
}

.up-button {
  width: 80px;
  height: 50px;
  background-color: brown;
  color: white;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.big-block {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background-color: tomato;
  border-radius: 5px;
  padding-top: 75px;
}

.little-block {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: rgb(92, 255, 71);
  border-radius: 5px;
}

.window-blocker {
  width: 100px;
  height: 50px;
}

#file-input {
  display: none;
}

.file-block {
  margin-top: 40px;
}

.file-input {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  width: 400px;
  height: 100px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  padding-top: 35px;
}
